In [ ]:
myquery = ``` 

```

pd.read_sql(myquery, con=engine)