In [11]:
import pandas as pd
import numpy as np
import mysql.connector
import psycopg
import pymongo
from sqlalchemy import create_engine
import dotenv
import os
dotenv.load_dotenv()

True

In [13]:
nba = pd.read_csv('ASA All NBA Raw Data (1).csv', low_memory=False)

In [15]:
pd.set_option('display.max_rows', 81)
nba.head(3).T

,0,1,2
game_id,202202170BRK,202202170BRK,202202170BRK
game_date,2022-02-17,2022-02-17,2022-02-17
OT,0,0,0
H_A,A,A,A
Team_Abbrev,WAS,WAS,WAS
Team_Score,117,117,117
Team_pace,94.5,94.5,94.5
Team_efg_pct,0.627,0.627,0.627
Team_tov_pct,13.5,13.5,13.5
Team_orb_pct,22.9,22.9,22.9
Team_ft_rate,0.157,0.157,0.157
Team_off_rtg,123.8,123.8,123.8
Inactives,"Joel Ayayi, Bradley Beal, Kristaps Porzingis","Joel Ayayi, Bradley Beal, Kristaps Porzingis","Joel Ayayi, Bradley Beal, Kristaps Porzingis"
Opponent_Abbrev,BRK,BRK,BRK
Opponent_Score,103,103,103
Opponent_pace,94.5,94.5,94.5
Opponent_efg_pct,0.483,0.483,0.483
Opponent_tov_pct,13.1,13.1,13.1
Opponent_orb_pct,33.3,33.3,33.3
Opponent_ft_rate,0.191,0.191,0.191
Opponent_off_rtg,109.0,109.0,109.0
player,Corey Kispert,Kyle Kuzma,Kentavious Caldwell-Pope
player_id,kispeco01,kuzmaky01,caldwke01
starter,1,1,1
mp,32:30,30:16,25:26
fg,6,2,3
fga,9,7,7
fg_pct,0.667,0.286,0.429
fg3,4,0,1
fg3a,6,3,3
fg3_pct,0.667,0.0,0.333
ft,0,1,0
fta,0,1,0
ft_pct,0.0,1.0,0.0
orb,0,0,1
drb,1,7,4
trb,1,7,5
ast,1,5,2
stl,2,1,1
blk,0,0,0
tov,2,7,1
pf,2,3,0
pts,16,5,7
plus_minus,13,10,13
did_not_play,0,0,0
is_inactive,0,0,0
ts_pct,0.889,0.336,0.5
efg_pct,0.889,0.286,0.5
fg3a_per_fga_pct,0.667,0.429,0.429
fta_per_fga_pct,0.0,0.143,0.0
orb_pct,0.0,0.0,5.4
drb_pct,3.3,24.7,16.8
trb_pct,1.8,13.9,11.8
ast_pct,4.0,18.5,9.4
stl_pct,3.1,1.7,2.0
blk_pct,0.0,0.0,0.0
tov_pct,18.2,48.5,12.5
usg_pct,15.6,22.0,14.5
off_rtg,133,55,106
def_rtg,113,107,110
bpm,3.1,-15.5,-3.8
season,2022,2022,2022
minutes,32.5,30.266667,25.433333
double_double,0,0,0
triple_double,0,0,0
DKP,23.75,19.75,18.25
FDP,22.7,16.9,18.0
SDP,24.75,17.25,18.75
DKP_per_minute,0.730769230769231,0.652533039647577,0.717562254259502
FDP_per_minute,0.698461538461538,0.558370044052863,0.707732634338139
SDP_per_minute,0.761538461538461,0.569933920704846,0.737221494102228
pf_per_minute,0.061538,0.099119,0.0
ts,9.0,7.44,7.0
last_60_minutes_per_game_starting,31.716667,34.324,29.82029
last_60_minutes_per_game_bench,22.017778,18.475954,16.051693
PG%,1.0,0.0,0.0
SG%,36.0,0.0,32.0
SF%,60.0,4.0,67.0
PF%,4.0,85.0,0.0
C%,0.0,11.0,0.0
active_position_minutes,46.253586,52.15259,47.021807

In [16]:
nba = nba.drop(['Inactives'], axis = 1)

In [17]:
games = nba[['game_id', 'game_date', 'OT', 'season']].drop_duplicates()

In [18]:
players = nba[['player_id', 'player']].drop_duplicates()

In [ ]:
nba = nba.drop(['game_date', 'OT', 'season', 'player'], axis = 1)

In [19]:
nba.columns

Index(['game_id', 'game_date', 'OT', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score',
       'Opponent_pace', 'Opponent_efg_pct', 'Opponent_tov_pct',
       'Opponent_orb_pct', 'Opponent_ft_rate', 'Opponent_off_rtg', 'player',
       'player_id', 'starter', 'mp', 'fg', 'fga', 'fg_pct', 'fg3', 'fg3a',
       'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl',
       'blk', 'tov', 'pf', 'pts', 'plus_minus', 'did_not_play', 'is_inactive',
       'ts_pct', 'efg_pct', 'fg3a_per_fga_pct', 'fta_per_fga_pct', 'orb_pct',
       'drb_pct', 'trb_pct', 'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct',
       'usg_pct', 'off_rtg', 'def_rtg', 'bpm', 'season', 'minutes',
       'double_double', 'triple_double', 'DKP', 'FDP', 'SDP', 'DKP_per_minute',
       'FDP_per_minute', 'SDP_per_minute', 'pf_per_minute', 'ts',
       'last_60_minutes_per_game_starting', 'last_60_minutes_per_game_bench',
       'PG%', 'SG%', 'SF%', 'PF%', 'C%', 'active_position_minutes'],
      dtype='object')

In [21]:
team_game = nba[['game_id', 'Team_Abbrev', 'H_A', 'Team_Score', 'Team_pace',
                    'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate',
                    'Team_off_rtg', 'Opponent_Abbrev']].drop_duplicates()
nba = nba.drop(['H_A', 'Team_Score', 'Team_pace',
        'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate',
        'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score', 'Opponent_pace',
        'Opponent_efg_pct', 'Opponent_tov_pct', 'Opponent_orb_pct',
        'Opponent_ft_rate', 'Opponent_off_rtg'], axis=1)
player_game = nba #3NF database is comprised of player_game, team_game, and players]]

In [22]:
type(team_game)

pandas.core.frame.DataFrame

In [23]:
player_game.columns = [x.lower().replace('%', '_pct') for x in player_game.columns]
team_game.columns = [x.lower().replace('%', '_pct') for x in team_game.columns]
players.columns = [x.lower().replace('%', '_pct') for x in players.columns]
games.columns = [x.lower().replace('%', '_pct') for x in games.columns]

In [24]:
dotenv.load_dotenv()
postgres_password = os.getenv('POSTGRES_PASSWORD')
postgres_password

'Ripleybeast24'

In [25]:
# connect to postgres server
dbserver = psycopg.connect(
    user = 'postgres',
    password = postgres_password,
    host = 'localhost',
    port = '5432'
)
dbserver.autocommit = True

In [26]:
# create NBA database
cursor = dbserver.cursor()
try:
    cursor.execute('CREATE DATABASE nba')
except:
    cursor.execute('DROP DATABASE nba')
    cursor.execute('CREATE DATABASE nba')

In [27]:
# upload NBA dataframes to NBA database
dbms = 'postgresql'
connector = 'psycopg'
host = 'localhost'
user = 'postgres'
port = '5432'
database = 'nba'
password = postgres_password
engine_string = f'{dbms}+{connector}://{user}:{password}@{host}:{port}/{database}'
engine_string

'postgresql+psycopg://postgres:Ripleybeast24@localhost:5432/nba'

In [28]:
engine = create_engine(engine_string)

In [29]:
player_game.to_sql('player_game', con = engine, chunksize = 1000, if_exists ='replace', index = False)

-113

In [30]:
team_game.to_sql('team_game', con = engine, chunksize = 1000, if_exists ='replace', index = False)
players.to_sql('players', con = engine, chunksize = 1000, if_exists ='replace', index = False)
games.to_sql('game', con = engine, chunksize = 1000, if_exists ='replace', index = False)

-4

# 07/18

In [31]:
myquery = '''
SELECT * 
FROM player_game
WHERE pts>60 
'''
pd.read_sql(myquery, con=engine)

,game_id,game_date,ot,team_abbrev,player,player_id,starter,mp,fg,fga,...,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,pg_pct,sg_pct,sf_pct,pf_pct,c_pct,active_position_minutes
0,202101030GSW,2021-01-03,0,GSW,Stephen Curry,curryst01,1,36:27,18,31,...,0.000000,39.36,32.836667,16.089368,82.0,18.0,0.0,0.0,0.0,51.151069
1,202001200POR,2020-01-20,1,POR,Damian Lillard,lillada01,1,45:08:00,17,37,...,0.022157,44.04,35.911905,20.859681,100.0,0.0,0.0,0.0,0.0,221.003792
2,202001200POR,2020-01-20,1,POR,Damian Lillard,lillada01,1,45:08:00,17,37,...,0.022157,44.04,35.911905,20.859681,100.0,0.0,0.0,0.0,0.0,221.003792
3,202008110DAL,2020-08-11,0,POR,Damian Lillard,lillada01,1,41:05:00,17,32,...,0.048682,39.92,41.463889,24.084590,100.0,0.0,0.0,0.0,0.0,205.012500
4,202008110DAL,2020-08-11,0,POR,Damian Lillard,lillada01,1,41:05:00,17,32,...,0.048682,39.92,41.463889,24.084590,100.0,0.0,0.0,0.0,0.0,205.012500

- INNER JOIN = delete all unmatched rows
- FULL JOIN = keep all rows but create missing data for unmatched rows
- LEFT JOIN= keep all rows from table after FROM; delete rows from table after JOIN
- RIGHT JOIN = keep all rows from table after JOIN; delete rows from table after FROM
- NATURAL INNER/

In [59]:

myquery2 = '''
SELECT 
    p.player,
    pg.player_id,
    SUM(pg.pts+
    pg.fg3+
    -1*pg.fga+
    pg.trb+
    2*pg.ast+
    4*pg.blk+
    4*pg.stl+
    -2*pg.tov) AS MVP_POINTS
    FROM player_game pg
INNER JOIN game g
    ON pg.game_id = g.game_id
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE g.season = 2022
GROUP BY p.player, pg.player_id
ORDER BY MVP_POINTS DESC
LIMIT 10
'''
pd.read_sql(myquery2, engine)

                  player  player_id  mvp_points
0           Nikola Jokic  jokicni01      2106.0
1             Chris Paul   paulch01      1984.0
2  Giannis Antetokounmpo  antetgi01      1878.0
3        Dejounte Murray  murrade01      1817.0
4            Joel Embiid  embiijo01      1646.0
5      Tyrese Haliburton  halibty01      1604.0
6          Stephen Curry  curryst01      1586.0
7            LaMelo Ball   ballla01      1571.0
8           James Harden  hardeja01      1555.0
9     Karl-Anthony Towns  townska01      1541.0

In [68]:
#win/loss record in 2021-2022

myquery3 = ''' 
SELECT
    t.team_abbrev,
    SUM(
        CAST(t.team_score > s.team_score AS INT)
        ) AS win,
    SUM(
        CAST(t.team_score < s.team_score AS INT)
        ) AS loss
    FROM team_game t
INNER JOIN team_game s
    ON t.game_id = s.game_id
        AND t.team_abbrev = s.opponent_abbrev
INNER JOIN game g
    ON t.game_id = g.game_id
WHERE g.season = 2022
GROUP BY t.team_abbrev

'''

pd.read_sql_query(myquery3, con=engine)

   team_abbrev  win  loss
0          ATL   28    30
1          BOS   34    26
2          BRK   31    28
3          CHI   38    21
4          CHO   29    31
5          CLE   35    23
6          DAL   35    24
7          DEN   33    25
8          DET   13    45
9          GSW   42    17
10         HOU   15    43
11         IND   20    40
12         LAC   30    31
13         LAL   27    31
14         MEM   41    19
15         MIA   38    21
16         MIL   36    24
17         MIN   31    28
18         NOP   23    36
19         NYK   25    34
20         OKC   18    40
21         ORL   13    47
22         PHI   35    23
23         PHO   48    10
24         POR   25    34
25         SAC   22    38
26         SAS   23    36
27         TOR   32    25
28         UTA   36    22
29         WAS   27    31

In [70]:
# winning percentage
# winloss

myquery4 = f'''
SELECT
    team_abbrev,
    win,
    loss,
    CAST(win AS FLOAT) / CAST(win AS FLOAT) + CAST(loss AS FLOAT) AS percentage
    FROM ({myquery3})
ORDER BY percentage DESC
'''

pd.read_sql_query(myquery4, con=engine)

   team_abbrev  win  loss  percentage
0          ORL   13    47        48.0
1          DET   13    45        46.0
2          HOU   15    43        44.0
3          OKC   18    40        41.0
4          IND   20    40        41.0
5          SAC   22    38        39.0
6          NOP   23    36        37.0
7          SAS   23    36        37.0
8          POR   25    34        35.0
9          NYK   25    34        35.0
10         CHO   29    31        32.0
11         WAS   27    31        32.0
12         LAC   30    31        32.0
13         LAL   27    31        32.0
14         ATL   28    30        31.0
15         MIN   31    28        29.0
16         BRK   31    28        29.0
17         BOS   34    26        27.0
18         TOR   32    25        26.0
19         DEN   33    25        26.0
20         MIL   36    24        25.0
21         DAL   35    24        25.0
22         PHI   35    23        24.0
23         CLE   35    23        24.0
24         UTA   36    22        23.0
25         CHI   38    21        22.0
26         MIA   38    21        22.0
27         MEM   41    19        20.0
28         GSW   42    17        18.0
29         PHO   48    10        11.0

In [73]:
# find all players who inceased their points per game average by at least 5 points from the 2021 to 2022 season.

myquery5 = '''
SELECT p.player,
    pg.player_id,
    AVG(pg.pts) AS ppg2021
    FROM player_game pg
INNER JOIN game g
    ON pg.game_id = g.game_id
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE g.season = 2021
GROUP BY p.player, pg.player_id
GROUP BY ppg2021 DESC
'''

pd.read_sql_query(myquery5, con=engine)

ProgrammingError: (psycopg.errors.SyntaxError) syntax error at or near "GROUP"
LINE 12: GROUP BY ppg2021 DESC
         ^
[SQL:
SELECT p.player,
    pg.player_id,
    AVG(pg.pts) AS ppg2021
    FROM player_game pg
INNER JOIN game g
    ON pg.game_id = g.game_id
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE g.season = 2021
GROUP BY p.player, pg.player_id
GROUP BY ppg2021 DESC
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [75]:
myquery6 = '''
SELECT p.player,
    pg.player_id,
    AVG(pg.pts) AS ppg2022
    FROM player_game pg
INNER JOIN games g
    ON pg.game_id = g.game_id
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE g.season = 2022
GROUP BY p.player, pg.player_id
GROUP BY ppg2022 DESC
'''

pd.read_sql_query(myquery6, con=engine)

ProgrammingError: (psycopg.errors.SyntaxError) syntax error at or near "GROUP"
LINE 12: GROUP BY ppg2022 DESC
         ^
[SQL:
SELECT p.player,
    pg.player_id,
    AVG(pg.pts) AS ppg2022
    FROM player_game pg
INNER JOIN games g
    ON pg.game_id = g.game_id
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE g.season = 2022
GROUP BY p.player, pg.player_id
GROUP BY ppg2022 DESC
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [76]:
myquery7 = '''
SELECT a.player,
    a.ppg2021,
    b.ppg2022,
    (b.ppg2022 - a.ppg2021) AS ppg_increase
    FROM (myquery5) AS ppg2021
INNER JOIN (myquery6)'''